.cart {
  grid-column: auto;
  min-height: 395px;
  max-width: 395px;
  min-width: 300px;
  max-width: 300px;
  margin: 5px;
  border: 1px;
  border-style: solid;
  border-color: black;
  background: #777777;
}

.img {
  width: 100%;
  height: 250px;
  cursor: pointer;
}
